<html>
  <body>
    <form method="POST" action="/new">
      <h1>This is an amazing form!</h1>
      <label for=""> Author name:</label>
      <input type="text" name="user" />
      <label for="">Message text:</label>
      <input type="text" name="messageText" />
      <div class="button">
        <button type="submit">Submit form</button>
      </div>
    </form>
  </body>
</html>
